.location{
  height: 475px;
  position: relative;
  &__details{
    position: absolute;
    top: 10%;
    background: #FFFFFF;
    padding: 10px;
    width: 32%;
    z-index: 5;
    left: 7%;
    @media screen and (max-width: 420px){
      left: 3%;
      width: 94%;
    }
  }
  #map{
    z-index: 1;
  }

}
